body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    line-height: 1.6;
    scroll-behavior: smooth;
}

nav {
    background: #111827;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav h2 {
    margin: 0;
    color: #38bdf8;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}


section {
    padding: 80px 20px;
}
#home {
    background: #e0f2fe;
}
#about {
    background: #f8fafc;
}
#contact {
    background: #1e293b;
    color: white;
}

.info-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
}
.info-list li {
    margin: 15px 0;
}
a {
    color: #38bdf8;
    text-decoration: none;
}

footer {
    background: #0f172a;
    color: #94a3b8;
    padding: 15px;
}